<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>iFrames</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>

<header class="header">
    <nav class="nav">
        <a class="logo_nav-link" href="/">TechShop</a>
        <ul class="nav-menu">
            <li class="nav-menu-item"><a href="/ejemplo2">Mis Autos</a></li>
            <li class="nav-menu-item"><a href="/multimedia">Multimedia</a></li>
            <li class="nav-menu-item"><a href="/iframes">iFrames</a></li>
        </ul>
    </nav>
</header>

<div class="layout">
    <aside class="sidebar"></aside>

    <main class="content">
        <h2>iFrames</h2>

        <iframe 
            src="https://ufidelitas.ac.cr/"
            width="100%"
            height="400"
            style="border:none;">
        </iframe>
    </main>
</div>

<footer class="footer">
    Todos los Derechos Reservados TechShop 2025 ©
</footer>

</body>
</html>

