<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TechShop</title>

    <!-- CSS correcto -->
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

<header class="header">
    <nav class="nav">
        <a class="logo_nav-link" th:href="@{/}">TechShop</a>

        <ul class="nav-menu">
            <li class="nav-menu-item">
                <a class="nav-link nav-menu-link" th:href="@{/ejemplo2}">Mis Autos</a>
            </li>
            <li class="nav-menu-item">
                <a class="nav-link nav-menu-link" th:href="@{/multimedia}">Multimedia</a>
            </li>
            <li class="nav-menu-item">
                <a class="nav-link nav-menu-link" th:href="@{/iframes}">iFrames</a>
            </li>
        </ul>
    </nav>
</header>

<div class="layout">
    <aside class="sidebar"></aside>

    <main class="content">
        <h2>Esta es la tienda en línea del curso</h2>
    </main>
</div>

<footer class="footer">
    Todos los Derechos Reservados TechShop 2025 &copy;
</footer>

</body>
</html>
