/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    background-color: #6c6cff; /* MORADO */
    padding: 15px 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_nav-link {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

/* MENU */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-menu-link {
    background-color: green;
    color: white;
    padding: 6px 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* LAYOUT GENERAL */
.layout {
    display: flex;
    flex: 1; /* OCUPA TODO EL ALTO */
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background-color: #fde7c8; /* CREMA */
}

/* CONTENIDO */
.content {
    flex: 1;
    background-color: #e48b9b; /* ROSADO */
    padding: 30px;
}

/* FOOTER */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
